@model firstwebapp.Models.WebsiteDescription

<div class="container">
    <div class="col-sm-12" style="text-align:center">
        <h2>@Model.Title</h2>
        <h4>@Model.Description</h4>

        <img src="~/assets/img/1.jpg"  >




    </div>


</div>